<%= render 'follow_form' if  signed_in? %>
<section class="stats">
  <%= render 'users/stats' %>
</section>

<h2>My Page</h2>
<table>
  <tr>
    <th>email</th>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <th>name</th>
    <td><%= current_user %></td>
  </tr>
</table>
