/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap";
body{
  background-color: rgba(245, 245, 245, 0.34);
  font-family: 'San Fransisco',sans-serif;
}

ul{
  list-style: none;
}
.container{
  margin: 5%;
  text-align: center;
}

.logo{
  width: 36px;

}
.line{
  font-size: 32px;
  font-weight: 100;
  position: relative;
  top: 5px;
  margin: 0 20px;
}
// .card{
//   // display: flex;
// }

.navbar{
  height:100px;
  background-color: #fff;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(172, 162, 162, 0.26);
}

.navbar-brand{
  // font-family: 'Trattatello',sans-serif;
  font-family: 'Brush Script MT',sans-serif;
  font-size: 36px;
}
// .card{
//   width: 200px;
// }

img.card{
  width:300px;
  height:250px;
  display:table-cell;
}

// ページ上部の青いボタン
.square_btn {
display: inline-block;
padding: 0.3em 1em;
text-decoration: none;
color: #67c5ff;
font-size: 16px;
border: solid 2px #67c5ff;
border-radius: 3px;
transition: .4s;
margin: 2%;
}

.square_btn:hover {
background: #67c5ff;
color: white;
text-decoration: none;
}

.pink_btn{
display: inline-block;
padding: 0.3em 1em;
text-decoration: none;
color: rgba(#f990c2, 0.98);
font-size: 16px;
border: solid 2px rgba(#f990c2, 0.98);
border-radius: 3px;
transition: .4s;
margin: 30px;
}

.pink_btn:hover {
background: rgba(#f990c2, 0.98);
color: white;
text-decoration: none;
}





/* sidebar */

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
